/Atividade22/nbproject/private/
/Atividade22/build/
/Atividade12/nbproject/private/
/Atividade12/build/
/Atividade14/nbproject/private/
/Atividade14/build/
/Atividade15/nbproject/private/
/Atividade15/build/
/Atividade17/nbproject/private/
/Atividade17/build/
/Atividade18/nbproject/private/
/Atividade18/build/